body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
body{
    background-image: 
    url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
    center;
}

.container {
    text-align: center;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.decorative-image {
    margin: 20px;
    width: 150px;
    height: 150px;
}

form {
    margin: 20px 0;
}

label {
    font-size: 1.2em;
}

input {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}
